body {
  background: #000505;
}



.subnav-hero-section {
  text-align: center;
  background: #000505;
  background-size: cover;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 300px;
  margin-bottom: 30px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #f8f7ff;
  font-family: "Staatliches", cursive;
  font-size: 5rem !important;
  letter-spacing: 1.5px;
}

.subnav-hero-subnav {
  display: inline-block;
  float: none;
  font-family: "Fira Code", monospace;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 1rem;
  color: #f8f7ff;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}


.bio-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  text-align: center;
}



.product-card {
  background: url("../assets/images/bio_bg1.jpg");
  background-size: cover;
  color: #000505;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 24px !important;
  padding: 1rem;
  margin: 200px;
  margin-bottom: 1.5rem;
  text-align: center;
  height: 700px;
  width: 600px;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  color: #702632;
  filter: brightness(100%);
  border-radius: 1rem;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 5px;
}

.product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}

iframe {
  margin: 5px;
  padding: 5px;
}

.featured-items {
  background: #000505;
  margin-bottom: 4rem;
  padding: 1rem 1rem;
}

@media screen and (max-width: 39.9375em) {
  .featured-items h4 {
    font-size: 1.5rem;
  }
}

.featured-items p {
  background: #f8f7ff;
  border-radius: 1rem;
  color: #000505;
  padding: 10px;
}

.featured-items .featured-items-brands {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 39.9375em) {
  .featured-items .featured-items-brands {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
}

.featured-items .featured-items-title {
  color: #f8f7ff;
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .featured-items .featured-items-brands img {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-bottom: 1rem;
  }

  .featured-items .featured-items-title {
    margin-bottom: 1rem;
  }
}




.contact-us-section {
  margin: auto;
  padding: 2rem;
  padding-top: 30px;
  background: #702632;
  font-family: "Fira Code", monospace;
  overflow: auto;
  height: 700px;
  width: 700px;
}

.contact-us-section h1 {
  font-family: "Fira Code";
  letter-spacing: -1px;
}

.contact-us-section .contact-us-section-left {
  padding-right: 2rem;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media print,
screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-left {
    border-right: 1px solid #e6e6e6;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contact-us-section .contact-us-section-right {
  padding-left: 2rem;
}

@media print,
screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-right {
    border-left: 1px solid #e6e6e6;
  }
}

.contact-us-section .contact-us-header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 32px;
  }
}

.contact-us-section .responsive-embed {
  margin-bottom: 0;
  padding-bottom: 55%;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-us-form-actions input[type="submit"] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
  background: transparent;
  color: #8a8a8a;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #0a0a0a;
}

.contact-us-list li::before {
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  color: #8a8a8a;
  font-family: "FontAwesome";
}

.contact-us-list .address::before {
  content: "\f041";
  margin-left: 0.4rem;
  margin-right: 2.3rem;
}

.contact-us-list .email::before {
  content: "\f003";
}

.contact-us-list .phone::before {
  content: "\f098";
}

.button {
  background: #8a8a8a
}

/* footer */

.social-footer {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;

}

.social-footer a {
  color: #f8f7ff;
  font-size: 1.7rem;
  padding: 10px;
  text-align: center;
}


/* media queries */

@media only screen and (max-width: 600px) {

  .subnav-hero-headline {
    margin: auto;
  }

  .product-card {
    height: auto;
    width: auto;
    margin: 20px;
  }

  .contact-us-section {
    margin: 20px;
    height: auto;
    width: auto;
  }

  .subnav-hero-subnav li a {
    font-size: 10px;
    margin: auto;
    padding: 3px;
  }



}

@media only screen and (max-width: 1200px) {
  .subnav-hero-headline {
    margin: auto;
  }

  .product-card {
    height: auto;
    width: auto;
    margin: 20px;
  }

  .contact-us-section {
    margin: 20px;
    height: auto;
    width: auto;
  }

  .subnav-hero-subnav li a {
    font-size: 11px;
    margin: auto;
    padding: 3px;
  }

}

@media only screen and (min-width: 1200px) {
  .subnav-hero-headline {
    margin: auto;
  }

  .product-card {
    height: 700px;
    width: 600px;
    margin: 20px;
  }

  .contact-us-section {
    margin: auto;
    height: 700px;
    width: 700px;
  }

  .subnav-hero-subnav li a {
    font-size: 1rem;
    margin: auto;
    padding: 3px;
  }
}